{% extends 'Contracts/contract_main.html' %}
{% load static %}

{% block cookie %}

    <!--CSS Start-->
    <link rel="stylesheet" href="{% static 'css/conditions_privacy.css' %}">
    <link rel="stylesheet" href="{% static 'css/contracts/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <!--CSS End-->

    <div class="box-header">
        <h4>Çerez Politikası</h4>
    </div>
    <h5>Yayın Tarihi: 21.07.2022</h5>
    <br>
    <div class="boxes">
        <div class="box">
            <h5>Çerez Nedir?</h5>
            <p>
                Ziyaret ettiğiniz web siteleri, bilgisayarınıza veya telefonunuza küçük bilgiler kaydedip, daha sonra
                aynı
                siteyi ziyaret ettiğinizde bu bilgileri okuyabilirler. Bu küçük bilgilerin kaydedildiği dosyalara çerez
                veya
                tanımlama bilgisi (İngilizcesi: cookie) denir. Çerezler genellikle internette gezinti deneyiminizi
                iyileştirmeye
                ve siteleri kişiselleştirmeye yarar. Örneğin bir siteye giriş yaparken “beni hatırla” seçeneğini
                işaretlerseniz
                o site, kullanıcı adınızı (veya özel bir kimlik numarasını) içeren bir çerezi tarayıcınıza kaydeder.
                Çerezleri
                yalnızca onları oluşturan site okuyabilir. Çerezin ne kadar süreyle saklanacağını da site belirler.
            </p>
            <h3>Çerez Kullanımı</h3>

            <h5>ÇEREZ (“COOKIE”)</h5>
            <p>İnternet sitemizden (www.edurmaal.com) en verimli şekilde faydalanabilmeniz ve kullanıcı deneyiminizi
                geliştirebilmek için Cookie kullanıyoruz. Web sitemize giriş yaptığınız zaman, sizlere, Cookie kullanımı
                kabul
                etmiş
                sayılırsınız. Tarayıcınızdan Cookie ayarlarınızı değiştirmediğiniz sürece bu sitede Cookie'ler
                kullanılmaya
                devam
                edecektir. Cookie'lerin hangi amaçla kullanıldığı ve ne kadar süre depolandığı aşağıda belirtilmektedir.
                Sitemizde
                yer alan servislerin kullanımı için bizimle doğrudan veya dolaylı olarak bazı bilgi ve veriler
                paylaşmaktasınız.
                Bu
                bilgiler siteye kayıt olurken verdiğiniz kişisel bilgiler (isim, e-posta adresi, telefon gibi) veya
                siteyi
                kullanımınız (iletişim formunu kullanırken, yorum yaparken vb.) esnasında topladığımız bilgilerdir (IP,
                cihaz,
                konum
                ve tarayıcı bilgileri, gezinti ve etkileşim içeriği, tarih ve bağlantı süresi gibi veriler). Bilgi ve
                verilerinizi
                saklama konusunda azami özeni göstermekteyiz. Web sitemiz, sunucumuzda depolanan Cookie verilerinizi 3.
                parti
                kişiler ile paylaşılmamaktadır. Sitede bulunan harici hizmetler (Canlı Destek eklentisi, YouTube
                videosu)
                tarafından
                depolanan Cookie verileriniz ise harici hizmetlerin sorumluluğundadır. Bunun için; 'Aydınlatma Metni',
                'KVKK' ve
                'Gizlilik Politikası' sayfalarımıza göz atınız.</p>

            <h3>İnternet Sitesinde Kullanılan Çerezler</h3>
            <h5>Çerez Nedir ve Neden Kullanılmaktadır?</h5>
            <p>Çerezler, ziyaret ettiğiniz internet siteleri tarafından tarayıcılar aracılığıyla cihazınıza veya ağ
                sunucusuna
                depolanan küçük metin (veri) dosyalarıdır.</p>
            <ul>
                <li>
                    İnternet Sitesinin işlevselliğini ve performansını arttırmak yoluyla sizlere sunulan hizmetleri
                    geliştirmek,
                </li>
                <li>
                    İnternet Sitesini iyileştirmek, İnternet Sitesi üzerinden yeni özellikler sunmak ve sunulan
                    özellikleri
                    sizlerin tercihlerine göre kişiselleştirmek,
                </li>
                <li>
                    İnternet Sitesinin, sizin ve şirketimizin (veya işletmemizin, sitemizin vb.) hukuki ve ticari
                    güvenliğinin
                    teminini sağlamak.
                </li>
            </ul>

            <h5>Çerez Türleri</h5>
            <p>Ana kullanım amacı kullanıcılara kolaylık sağlamak olan çerezler, temel olarak dört ana grupta
                toplanmaktadır:</p>
            <ul>
                <li>
                    Oturum Çerezleri: İnternet sayfaları arasında bilgi taşınması ve kullanıcı tarafından girilen
                    bilgilerin
                    sistemsel olarak hatırlanması gibi çeşitli özelliklerden faydalanmaya olanak sağlayan çerezlerdir ve
                    internet sitesine ait fonksiyonların düzgün bir şekilde işleyebilmesi için gereklidir.
                </li>
                <li>
                    Performans Çerezleri: Sayfaların ziyaret edilme frekansı, olası hata iletileri, kullanıcıların
                    ilgili
                    sayfada harcadıkları toplam zaman ile birlikte siteyi kullanım şekilleri konularında bilgi toplayan
                    çerezlerdir ve internet sitesinin performansını arttırma amacıyla kullanılmaktadır.
                </li>
                <li>
                    Fonksiyonel Çerezler: Kullanıcıya kolaylık sağlanması amacıyla önceden seçili olan seçeneklerin
                    hatırlatılmasını sağlayan çerezlerdir ve internet sitesi kapsamında kullanıcılara gelişmiş internet
                    özellikleri sağlanmasını hedeflemektedir.
                </li>
                <li>
                    Reklam ve Üçüncü Taraf Çerezleri: Üçüncü parti tedarikçilere ait çerezlerdir ve internet sitesindeki
                    bazı
                    fonksiyonların kullanımına ve reklam takibinin yapılmasına (uygun reklam gösterilmesine) olanak
                    sağlamaktadır.
                </li>
            </ul>

            <h5>
                Çerezlerin Kullanım Amaçları
            </h5>

            <p>www.edurmaal.com tarafından kullanılmakta olan çerezlere ait kullanım amaçları aşağıdaki gibidir:</p>
            <ul>
                <li>Güvenlik amaçlı kullanımlar: edurmaal.com, sistemlerinin idaresi ve güvenliğinin sağlanması
                    amacıyla, bu
                    sitedeki fonksiyonlardan yararlanmayı sağlayan veyahut düzensiz davranışları tespit eden çerezler
                    kullanabilmektedir.
                </li>
                <li>
                    İşlevselliğe yönelik kullanımlar: edurmaal.com, sistemlerinin kullanımını kolaylaştırmak ve
                    kullanıcı
                    özelinde kullanım özellikleri sağlamak amacıyla, kullanıcıların bilgilerini ve geçmiş seçimlerini
                    hatırlatan
                    çerezler kullanabilmektedir.
                </li>
                <li>
                    Performansa yönelik kullanımlar: edurmaal.com, sistemlerinin performansının artırılması ve ölçülmesi
                    amacıyla, gönderilen iletilerle olan etkileşimi ve kullanıcı davranışlarını değerlendiren ve analiz
                    eden
                    çerezler kullanabilmektedir.
                </li>
                <li>
                    Reklam amaçlı kullanımlar: edurmaal.com, kendine veya üçüncü taraflara ait sistemlerin üzerinden
                    kullanıcıların ilgi alanları kapsamında reklam ve benzeri içeriklerin iletilmesi amacıyla, bu
                    reklamların
                    etkinliğini ölçen veya tıklanma durumunu analiz eden çerezler kullanabilmektedir.
                </li>
            </ul>

            <p>Web sitesine yönelik şüpheli eylemlerin tespiti ve gerekli güvenliğin sağlanması, ziyaretçilerin
                tercihleri
                doğrultusunda web sitesinin işlevsellik ve performansın artırılması, web sitesinde sunulan hizmetlerin
                ve
                ürünlerin geliştirilmesi ve kişiselleştirilmesiyle, bu hizmetlere ve ürünlere ulaşımın
                kolaylaştırılması, web
                sitesinin hukuki sorumluluklarının yerine getirilmesi amaçlı çerezler kullanmaktadır. </p>

            <h5>Çerezler Yoluyla İşlenen Kişisel Veriler Nelerdir?</h5>
            <p>Kişinin kimliği (isim, soy isim, lakap, doğum tarihi vb.) ve iletişim (ikamet adresi, e-posta adresi,
                telefon
                numarası, IP adresi, tarayıcı bilgisi, bilgisayar bilgisi, konum bilgisi vb.) bilgileri tarafımızca, web
                sitesinde mevcut çerezler vasıtasıyla, otomatik veya otomatik olmayan yöntemler veya yazılımlarla ve
                bazen de;
                reklam ağları, analitik yazılımlar, aranma ve hacim bilgisi sağlayıcıları, ilgili yazılımlar veya
                teknolojiler
                gibi üçüncü taraflar tarafından elde edilerek, kaydedilerek, depolanarak ve güncellenerek, aramızdaki
                şartlar ve
                hizmetler sözleşmesi çerçevesinde ve süresince, kişisel veri işleme şartlarına bağlı olarak hukuka uygun
                şekilde
                işlenecektir.</p>
            <p>Web sitesinden dışarıya verilen linke/linklere tıkladığınız zaman, yönlendirildiğiniz web sitesinde olan
                çerezler, yönlendirildiğiniz web sitesinin sorumluluğundadır.</p>

            <h5>Çerezleri Kontrol Etme ve Silme</h5>
            <p>Çerezlerin kullanımına ilişkin tercihlerinizi değiştirmek ya da çerezleri engellemek veya silmek için
                tarayıcınızın ayarlarını değiştirmeniz yeterlidir. Birçok tarayıcı çerezleri kontrol edebilmeniz için
                size
                çerezleri kabul etme veya reddetme, yalnızca belirli türdeki çerezleri kabul etme ya da bir web sitesi
                cihazınıza çerez depolamayı talep ettiğinde tarayıcı tarafından uyarılma seçeneği sunar. Aynı zamanda
                daha önce
                tarayıcınıza kaydedilmiş çerezlerin silinmesi de mümkündür. Çerezleri kontrol edilmesine veya
                silinmesine
                ilişkin işlemler kullandığınız tarayıcıya göre değişebilmektedir. Bazı popüler tarayıcıların çerezlere
                izin
                verme ya da çerezleri engelleme veya silme talimatlarına aşağıda gösterilmiştir.</p>
            <p>Çerez kullanım seçiminin değiştirilmesine ait yöntem, tarayıcı tipine bağlı olarak değişmekte olup,
                ilgili hizmet
                sağlayıcıdan dilendiği zaman öğrenilebilmektedir.</p>

            <h5>Çerezlerin Kullanılmasını Nasıl Engelleyebilirsiniz?</h5>
            <p>Çerezlerin kullanılması Web Sitesi'nin daha iyi hizmet vermekle birlikte eğer dilerseniz çerezlerin
                kullanılmasını engelleyebilirsiniz. Ancak bu takdirde sitenin tam olarak işlevini gösterememesi ve tüm
                özelliklerinden yararlanamayabileceğinizi unutmayınız. Çerezlerin kullanılmasını engellemek için
                kullandığınız
                internet tarayıcınızın ayarlarınızı değiştirmeniz gerekmektedir. Bu değişiklikler kullandığınız cihaz ve
                internet tarayıcısına göre değişiklik göstermektedir. Aşağıda farklı internet tarayıcıları üzerinden
                çerezlerin
                kullanılmasını engellemek için hangi adımların izlenmesi gerektiğine ilişkin bilgiler yer
                almaktadır:</p>

            <h6>Internet Explorer</h6>
            <ol class="type-3">
                <li>Bilgisayarınızın masaüstünü açın ve görev çubuğunda "Internet Explorer" simgesine dokunun veya
                    tıklayın.
                </li>
                <li>"Araçlar" düğmesine, sonrasında da "İnternet seçenekleri" kısmına tıklayın.</li>
                <li>"Gizlilik" sekmesine dokunun veya tıklayın, ardından tüm tanımlama bilgilerini engellemek için
                    ayarların
                    altında bulunan kaydırıcıyı yukarıya hareket ettirin ve "Tamam" düğmesine tıklayın.
                </li>
            </ol>

            <h6>Microsoft Edge</h6>
            <ol class="type-3">
                <li>"Microsoft Edge" tarayıcınızın sağ üst köşesinden üç nokta işareti olan bölüme tıklayın ve "Ayarlar"
                    bölümüne gelin.
                </li>
                <li>Karşınıza gelen yeni pencerede "Temizlenecek Öğeleri Seç" dedikten sonra, karşınıza gelen pencereden
                    temizlemek istediğiniz çerezleri seçin.
                </li>
                <li>Burada birçok bölüm bulunmaktadır. İstediğiniz çerezleri seçerek temizleme işlemine
                    başlayabilirsiniz.
                </li>
            </ol>

            <h6>Google Chrome</h6>
            <ol class="type-3">
                <li>Bilgisayarınızda Google Chrome'u açın.</li>
                <li>Sağ üstte "Diğer Ayarlar" kısmınatıklayın.</li>
                <li>Altta bulunan "Gelişmiş" kısmına tıklayın.</li>
                <li>"Gizlilik ve Güvenlik" kısmının altında olan "İçerik Ayarları" kısmına tıklayın.</li>
                <li>Sonrasında "Çerezler" seçeneğine tıklayın.</li>
                <li>"Tüm çerezler ve Site Verileri" kısmının altında giriş yapmış olduğunuz web sitesinin adını
                    arayın.
                </li>
                <li>Sitenin sağındaki "Kaldır" simgesini tıklayın.</li>
            </ol>

            <h6>Mozilla Firefox</h6>
            <ol class="type-3">
                <li>"Firefox" tarayıcınızdan "Menü" düğmesine tıklayın ve "Seçenekler" kısmına gelin.</li>
                <li>"Gizlilik ve Güvenlik" panelini seçin ve "Geçmiş" bölümüne gidin.</li>
                <li>Firefox ayarını, "geçmiş için özel ayarları kullansın" olarak değiştirin.</li>
                <li>"Çerezleri Göster" düğmesine tıklayın. Çerezler penceresi görünecektir.</li>
                <li>Arama alanına, çerezlerini silmek istediğiniz sitenin adını yazın. Aramanızla web sitesiyle eşleşen
                    çerezler
                    görüntülenecektir.
                </li>
                <li>Silmek istediğiniz çerez(ler)i seçip "Seçilenleri Sil" düğmesine tıklayın.</li>
                <li>Kapat" düğmesine tıklayarak çerezler penceresini kapatın. Sonra da "about:preferences" sayfasını
                    kapatın.
                </li>
            </ol>

            <h6>Safari</h6>
            <ol class="type-3">
                <li>"Safari" tarayıcısına girin ve "Tercihler" kısmına gelin.</li>
                <li>"Gizlilik" öğesini tıklayın.</li>
                <li>"Web Sitesi Verilerini" tıklayın.</li>
                <li>Bir veya daha fazla web sitesi seçin ve sonra "Sil veya Tümünü Sil" seçeneğine tıklayın.</li>
            </ol>

            <h6>Opera</h6>
            <ol class="type-3">
                <li>“Opera” taracıyısına girin ve sağ üstte yer alan “Kolay Kurulum” kısmına gelin.</li>
                <li>En aşağıda yer alan “Tam tarayıcı ayarlarına git” tuşuna tıklayın.</li>
                <li>“Gizlilik ve Güvelik” sekmesine gelin ve “Çerez ve diğer site verileri” ksımına tıklayın.</li>
                <li>“Tüm çerezleri engelle” tıkayın.</li>
            </ol>

            <p>Ziyaret ettiğiniz web sitelerinin geride bıraktığı tüm çerezli üçüncü parti yazılımlar aracılığıyla da
                silebilirsiniz.</p>

            <strong>Bu sitede Google Analytics Ziyaretçi Takip Sistemi Kullanılmaktadır </strong>

            <p><strong>Sitede Kullanılan Çerezler:</strong> _ga, _ga_QRT8ZTJW51, ckCsrfToken, ckCsrfToken, ckCsrfToken
            </p>

            <h5>Saklandığı Süre Bakımından Çerez Türleri</h5>
            <p><strong>Kalıcı Çerezler (Persistent Cookies):</strong> Kişinin bilgisayarında belirli bir tarihe veya
                kullanıcı
                tarafından silinene kadar varlığını sürdüren çerezlerdir. Bu çerezler, çoğunlukla kullanıcıların site
                hareketlerini ve tercihlerini ölçmek amacıyla kullanılır.</p>
            <p><strong>Oturum Çerezleri (Session Cookies):</strong> Bu çerezler kullanıcının ziyaretini oturumlara
                ayırmak için
                kullanılır ve
                kullanıcıdan veri toplamaz. Çerez, kullanıcı ziyaret ettiği web sayfasını kapattığında veya belli bir
                süre pasif
                kaldığında silinir. Web Sitesi'nde üçüncü kişilerin başta reklam hizmetleri olmak üzere hizmet
                sağlamasına
                yardımcı olmak ve bu hizmetlerin etkinliğini artırmak için hedef ve izleme çerezleri kullanılır. Bu
                çerezler,
                ziyaret ettiğiniz web sayfalarını ve siteleri hatırlayabilir ve başta kullanıcı cihazının IP adresi
                olmak üzere
                kişisel verileri toplayabilir. Web Sitesi, bilgi toplamak, ilgi alanlarınızı ve demografik verileri
                hatırlamak
                ve size hedeflenmiş reklamları sunmak, reklamları iyileştirmek ziyaret edilme ve reklam gösterimleri
                sayısını,
                reklam hizmetlerinin diğer kullanımlarını ve bu reklam gösterimleri ve reklam hizmetleriyle ilgili
                etkileşimler
                arasındaki oranı belirlemek için hem birinci taraf hem de üçüncü taraf çerezlerini kullanmaktadır. Web
                Sitesi;
                Facebook ve LinkedIn gibi sosyal ağlara bağlantı sağlayan sosyal eklentilerden faydalanmaktadır. Web
                Sitesi'ni
                ziyaret ettiğinizde ve bu eklentileri kullandığınızda, Web Sitesi doğrudan seçilen sosyal ağın
                sunucusuna
                bağlanır. Ardından, eklentinin sunduğu içerik doğrudan sosyal ağlardan web tarayıcınıza iletilir ve
                ziyaret
                etmekte olduğunuz web sitesine eklenir. Böylelikle ilgili sosyal ağ size ait verilere ulaşarak
                işleyebilir ve
                ilgili sosyal ağdaki hesabınıza ait verilerle birleştirebilir.</p>

            <p>Lütfen sosyal ağların eklentiler aracılığıyla işlediği verilerin kapsamı üzerinde herhangi bir etkimiz ve
                kontrolümüz olmadığını unutmayın. Sosyal ağların kişisel verilerinizi hangi amaçla, hangi yöntemlerle ve
                hangi
                süreyle işleyeceğine ilişkin daha fazla bilgi almak için lütfen ilgili sosyal ağlar tarafından
                yayınlanan
                kişisel
                verilerin işlenmesi politikalarını dikkatlice inceleyin.Lütfen sosyal ağların eklentiler aracılığıyla
                işlediği
                verilerin kapsamı üzerinde herhangi bir etkimiz ve kontrolümüz olmadığını unutmayın. Sosyal ağların
                kişisel
                verilerinizi hangi amaçla, hangi yöntemlerle ve hangi süreyle işleyeceğine ilişkin daha fazla bilgi
                almak için
                lütfen ilgili sosyal ağlar tarafından yayınlanan kişisel verilerin işlenmesi politikalarını dikkatlice
                inceleyin.</p>

            <h5>Web Sitesimiz'de aşağıda yer alan çerezler kullanmaktadır:</h5>

            <table>

                <ul class="responsive-table">
                    <li class="table-header">
                        <div class="col col-1">Cookie Sağlayıcısı</div>
                        <div class="col col-1">Cookie İsmi</div>
                        <div class="col col-2">Cookie Amacı</div>
                        <div class="col col-1">Cookie Tipi</div>
                    </li>
                    {% for c in cookies %}
                        <li class="table-row">
                            <div class="col col-1" data-label="Cookie Sağlayıcısı">{{ c.cookie_provider }}</div>
                            <div class="col col-1" data-label="Cookie İsmi">{{ c.cookie_name }}</div>
                            <div class="col col-2" data-label="Cookie Amacı">{{ c.cookie_aim }}
                            </div>
                            <div class="col col-1" data-label="Cookie Tipi">{{ c.cookie_type }}</div>
                        </li>
                    {% endfor %}
                </ul>

            </table>
        </div>
    </div>

{% endblock %}