{% extends 'backend/layout.html' %}
{% load static %}

{% block title %}Eğitim Yönetimi{% endblock %}

{% block blog %}
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>Tüm Eğitimler</h1>
                <div class="section-header-button">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#addEducation">Eğitim Ekle</button>
                </div>
                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active"><a href="{% url 'admin_main_page' %}">Anasayfa</a></div>
                    <div class="breadcrumb-item">Tüm Yazılar</div>
                </div>
            </div>
            <div class="section-body">
                <h2 class="section-title">Tüm Yazılar</h2>

                <div class="row mt-4">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Tüm Yazılar</h4>
                            </div>
                            <div class="card-body">

                                <div class="float-right">
                                    <form>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="clearfix mb-3"></div>

                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Eğitim Adı</th>
                                            <th>Kayıtlı Öğrenciler</th>
                                            <th>Oluşturulma Tarihi</th>
                                            <th>Durum</th>
                                        </tr>
                                        {% for e in educations %}
                                            <tr>
                                                <td>{{ e.name }}
                                                </td>
                                                <td>
                                                    <a href="{% url 'view_education_request' e.id %}" class="btn btn-primary">({% if e.student_oferring_count > 0 %}{{ e.student_oferring_count }}{% else %}0{% endif %}) İstek</a>
                                                    <a href="" class="btn btn-success">({% if e.student_count > 0 %}{{ e.student_count }}{% else %}0{% endif %}) Kayıtlı</a>
                                                </td>
                                                <td>{{ e.created_at|date:"d-m-Y H:i" }}</td>
                                                <td>
                                                    <div class="badge badge-{% if b.status == True %}success{% else %}danger{% endif %}">{% if e.status == True %}Yayında{% else %}Yayında Değil{% endif %}</div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="addEducation" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eğitim Ekle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Eğitim Adı</label>
                            <input type="text" required name="education_name" class="form-control">
                        </div>
                        <div class="form-group">
                            <button type="submit" name="submit" class="btn btn-primary">Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}