django-resources
Unidecode
whitenoise
django-import-export
resources
django-autoslug
django-multiselectfield
django-widget-tweaks
django-ckeditor
django-admin-thumbnails
pillow
django-robots
django-environ
jwt
PyJWT
psycopg2
postgres
readtime
python-decouple
django-ckeditor-5
djangorestframework
django-cors-headers
django-online-users
djangorestframework-simplejwt