{% load static %}

<footer class="footer-wrapper">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Footer Top Start -->
                <div class="footer-top">
                    <!-- Section Title Start -->
                    <div class="section-title-center section-head mb-0 wow fadeIn" data-wow-duration="1.5s"
                         data-wow-delay=".1s">
                        <span class="subtitle">Yeniliklerden Haberdan Olun</span>
                        <h2 class="title">Bülten İçin Abone Olun</h2>
                    </div>
                    <!-- Section Title End  -->
                    <div class="subcription-form-wrapper wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".1s">
                        <!-- Subscription Form Start -->
                        <form id="mc-form" class="subscribe-form" action="#">
                            <input class="email" type="email" placeholder="Email Adresiniz" name="EMAIL">
                            <button class="button">Abone Ol</button>
                        </form>
                        <!-- Subscription Form End -->
                        <!-- mailchimp-alerts Start -->
                        <div class="mailchimp-alerts text-centre">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success text-green-400"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error text-red-600"></div><!-- mailchimp-error end -->
                        </div>
                        <!-- mailchimp-alerts end -->
                    </div>
                </div>
                <!-- Footer Top End -->
            </div>
        </div>
        <div class="row mb-n30">

            <!-- Footer Widget Start -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-30 wow fadeIn" data-wow-duration="1.5s"
                 data-wow-delay=".1s">
                <div class="footer-widget negative-margin">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/logo.png" alt="">
                        </a>
                    </div>
                    <ul class="footer-widget-list-icon">
                        <li><i class="fas fa-map-marker-alt"></i> <span> 20 Bordeshi, Amin Bazar <br> Savar, Dhaka 1348</span>
                        </li>
                        <li><i class="fas fa-envelope"></i> <span>info@atmacacode.com</span></li>
                        <li><i class="fas fa-phone"></i><span>+123 456 7890</span></li>
                    </ul>
                    <ul class="social-icon d-flex flex-start">
                        <li>
                            <a href="https://www.facebook.com/" class="facebook"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" class="instagram"><i class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Footer Widget End -->

            <!-- Footer Widget Start -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-30 d-flex justify-content-lg-center justify-content-sm-end wow fadeIn"
                 data-wow-duration="1.5s" data-wow-delay=".1s">
                <div class="footer-widget">
                    <h5 class="footer-widget-title">Hizmetler</h5>
                    <ul class="footer-widget-list">
                        <li><a href="about.html">Web Tasarımı</a></li>
                        <li><a href="about.html">Django Backend</a></li>
                        <li><a href="about.html">E-Ticaret</a></li>
                        <li><a href="about.html">E-Pazaryeri</a></li>
                    </ul>
                </div>
            </div>
            <!-- Footer Widget End -->

            <!-- Footer Widget Start -->
            <div class="col-lg-3 col-md-4 col-sm-5 col-12 mb-30 d-flex justify-content-lg-center justify-content-md-end wow fadeIn"
                 data-wow-duration="1.5s" data-wow-delay=".1s">
                <div class="footer-widget">
                    <h5 class="footer-widget-title">Hızlı Menu</h5>
                    <ul class="footer-widget-list">
                        <li><a href="about.html">Hakkında</a></li>
                        <li><a href="contact.html">Destek</a></li>
                        <li><a href="contact.html">İletişim</a></li>
                        <li><a href="contact.html">Blog</a></li>
                    </ul>
                </div>
            </div>
            <!-- Footer Widget End -->

            <!-- Footer Widget Start -->
            <div class="col-lg-3 col-md-6 col-sm-7 col-12 mb-30 d-flex justify-content-sm-end wow fadeIn"
                 data-wow-duration="1.5s" data-wow-delay=".1s">
                <div class="footer-widget">
                    <h5 class="footer-widget-title">Bizi Takip Edin</h5>
                    <ul class="instagrm">
                        <li>
                            <a href="#">
                                <img src="assets/images/footer/insta-one.png" alt="Insta-Image">
                                <div class="add-action">
                                    <i class="fab fa-instagram"></i>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/footer/insta-two.png" alt="Insta-Image">
                                <div class="add-action">
                                    <i class="fab fa-instagram"></i>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/footer/insta-three.png" alt="Insta-Image">
                                <div class="add-action">
                                    <i class="fab fa-instagram"></i>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/footer/insta-four.png" alt="Insta-Image">
                                <div class="add-action">
                                    <i class="fab fa-instagram"></i>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/footer/insta-five.png" alt="Insta-Image">
                                <div class="add-action">
                                    <i class="fab fa-instagram"></i>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/footer/insta-six.png" alt="Insta-Image">
                                <div class="add-action">
                                    <i class="fab fa-instagram"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Footer Widget End -->

        </div>
        <div class="row">
            <div class="col-12">
                <div class="copyright wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".1s">
                    <p class="order-md-1 order-2">Designed with love by <span>Jewel Khan</span> © 2022</p>

                    <ul class="footer-bootm-list order-md-2 order-1">
                        <li><a href="contact.html">Terms & Condition</a></li>
                        <li><a href="contact.html">Privecy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>