{% extends 'adminpage/mainpage.html' %}
{% load static %}

{% block blog_page %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <div class="container">
        <ul class="responsive-table">
            <li class="table-header">
                <div class="col col-3">Başlık</div>
                <div class="col col-2">Oluşturulma Tarihi</div>
                <div class="col col-1">Görüntülenme Sayısı</div>
                <div class="col col-1"></div>
            </li>
            {% for b in blog %}
                <li class="table-row">
                    <div class="col col-3" data-label="Başlık">{{ b.title|truncatechars:50 }}</div>
                    <div class="col col-2" data-label="Oluşturulma Tarihi">{{ b.created_at|date:"d/m/y" }}</div>
                    <div class="col col-1" data-label="Görüntülenme Sayısı">{{ b.blog_views }}</div>
                    <div class="col col-1" data-label="Edit">
                        <button><i class="fa-solid fa-pen-to-square"></i></button>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}