{% extends 'adminpage/mainpage.html' %}
{% load static %}

{% block task_page %}
    <link rel="stylesheet" href="{% static 'css/adminpage/partials/tasks_page.css' %}">
    {% for t in task %}
        <ul id="taskList">
            <li>
                <div class="col">
                    <span class="bold">Müşteri İsmi</span>
                    <span>{{ t.customer_name }}</span>
                </div>
            </li>
            <li>
                <div class="col">
                    <span class="bold">Müşteri İletişm</span>
                    <div>
                        <span>{{ t.customer_phone }}</span>
                    </div>
                    <div>
                        <span>{{ t.customer_email }}</span>
                    </div>
                </div>
            </li>
            <li>
               <div class="col">
                   <span class="bold">İşin Adı</span>
                   <span>{{ t.task_name }}</span>
               </div>
            </li>
            <li>
                <div>
                    <span class="bold">Başlangıç Tarihi: </span>
                    <span>{{ t.task_start_date }}</span>
                </div>
                <div>
                    <span class="bold">Tahmini Teslim Tarihi: </span>
                    <span>{{ t.estimated_deliver_date }}</span>
                </div>
            </li>
            <li>
                <a href="{% url 'task_detail_page' t.task_id request.user %}" class="task-detail"><i class="fa-solid fa-circle-arrow-right"></i></a>
            </li>
        </ul>
    {% endfor %}
{% endblock %}