.account{
    display: flex;
    justify-content: center;
}

.account-container{
    padding: 25px 50px 50px 25px;
    border: 2px solid #e9edf4;
    width: 100%;
    height: 100%;
    max-width: 500px;
    border-radius: 20px;
}

.box{
    width: 100%;
}

.boxes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.boxes .b-padding{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}


.boxes .box label{
    width: 100px;
}

.boxes .box input{
    width: 65%;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    padding: 10px;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-top: 15px;
}

.buttons a,button{
    margin: 10px;
}

.error{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 50px;
}

.btn-style-two{
    padding: 20px 45px !important;
}

.error span{
    padding-top: 0!important;
    color: red;
}

.forgat-password{
    float: right;
    padding-right: 40px;
    margin-top: 10px;
}

.contracts {
    width: 95% !important;
}

.ui.slider.checkbox {
    margin-left: 10% !important;
}

.kvkk {
    width: 95%;
    margin-left: 5%;
    text-align: start;
    margin-top: 10px;
}

.contracts-btn{
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #FF914D;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}