.alert-box {
    display: none
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.input-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#message-input {
    padding: 20px;
    width: 100%;
    background: var(--input-color);
    color: var(--input-placeholder-color);
}

#send-btn {
    padding: 20px 40px;
    background: var(--main-color);
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
}

.message.left {
    text-align: left;
    color: #aaa;
}

.message.right {
    text-align: right;
    color: #ccc;
}

.message .content {
    background: #444;
    padding: 5px 10px;
    border-radius: 10px;
    max-width: 80%;
    display: inline-block;
    margin-bottom: 10px;
}

.tabs {
    width: 100%;
    height: 50vh;
    border: 1px solid black;
    border-top-left-radius: 10px;
}

.tabs .tab-header {
    display: flex;
    padding: 10px;
    background: var(--main-color);
    border-top-left-radius: 10px;
    height: 75px;
}

.tabs .tab-header > div {
    width: 50%;
    text-align: center;
    padding: 10px;
    z-index: 2;
    font-weight: 600;
    color: white;
    cursor: pointer;
    position: relative;
    transition: all 300ms ease-in-out;
}

.tabs .tab-header > div.active {
    color: #387be2;
}

.tabs .tab-indicator {
    position: absolute;
    width: calc(50% - 5px);
    height: 45px;
    background: #d9e5f9;
    top: 15px;
    border-radius: 20px;
    left: 5px;
}

.tabs .tab-body {
    position: relative;
    padding: 10px;
    background: var(--chat-bg);
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.tabs .tab-body > div {
    position: absolute;
    transition: all 300ms ease-in-out;
    opacity: 0;
    top: -100%;
    transform: translateY(-10px);
}

.tabs .tab-body > div.active {
    transform: translateY(0px);
    top: 30px;
    opacity: 1;
}

.contact_list {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -10px;
}

.contact_list p {
    color: var(--link-color);
    padding: 20px 0 20px 0;
}

.contact_list p:hover {
    background: var(--chat-active);
}

.contact_list p.active {
    background: var(--chat-active);
}

.contact_list p a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    font-weight: 600;
}

.contact_list p a i {
    margin-right: 20px;
    color: red;
    font-size: 10px;
}

.empty-chat-container {
    width: 100%;
    height: 80vh;
    background: var(--chat-bg);
    position: relative;
    left: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-container {
    width: 100%;
    height: 80vh;
    background: var(--chat-bg);
    position: relative;
    left: -30px;
}

.header {
    padding: 10px 5%;
    background: var(--main-color);
    color: whitesmoke;
    height: 75px;
    display: flex;
    align-items: center;
}

.message-container {
    width: 100%;
    height: 65.1vh;
    padding: 30px;
    overflow-y: auto;
    overflow-x: hidden;
}

.message-container .left .content {
    background: #F0C0BE;
    color: #fff;
}

.message-container .right .content {
    background: #A5D8DC;
    color: #fff;
}

.sent-by {
    font-weight: bold;
    color: var(--link-color);
}

.message {
    overflow-x: hidden;
    overflow-y: auto;
}

@media screen and (max-width: 820px) {
    .chat-container {
        left: 0;
    }

    .tabs {
        border-right: none;
    }

    .empty-chat-container {
        left: 0;
    }

    .empty-chat-container img {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (max-width: 850px) and (min-width: 821px) {
    .chat-container {
        left: 0;
    }

    .tabs {
        border-right: none;
    }

    .empty-chat-container {
        left: 0;
    }

    .empty-chat-container img {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (max-width: 1370px) and (min-width: 851px) {

    .empty-chat-container img {
        width: 250px;
        height: 250px;
    }
}



