.container{
    width: 100%;
}

.container .row{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.row .boxes{
    display: flex;
    flex-direction: column;
}

.row .boxes .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}