{% load static %}

<div class="sidebar wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".1s">
    <h4 class="sidebar-title">Kategoriler</h4>
    <ul class="sidebar-category">
        <li><a href="blog-details.html">Genel</a></li>
        <li><a href="blog-details.html">HTML / Css</a></li>
        <li><a href="blog-details.html">Javascript</a></li>
        <li><a href="blog-details.html">Python</a></li>
        <li><a href="blog-details.html">Django</a></li>
        <li><a href="blog-details.html">Yapay Zeka</a></li>
    </ul>
</div>