{% load static %}

<div class="sidebar wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".1s">
    <h4 class="sidebar-title">Kategoriler</h4>
    <ul class="sidebar-category">
        <li><a href="blog-details.html">Genel <span>(32)</span></a></li>
        <li><a href="blog-details.html">HTML / Css <span>(07)</span></a></li>
        <li><a href="blog-details.html">Javascript <span>(09)</span></a></li>
        <li><a href="blog-details.html">Python <span>(04)</span></a></li>
        <li><a href="blog-details.html">Django <span>(10)</span></a></li>
        <li><a href="blog-details.html">Yapay Zeka <span>(19)</span></a></li>
    </ul>
</div>