{% extends 'mainpage/customer_profile.html' %}
{% load static %}

{% block support %}

    <!--CSS Start-->
    <link rel="stylesheet" href="{% static 'css/support.css' %}">
    <!--CSS End-->

    <div class="row">
        <div class="col-lg-4 section-message">
            <div class="support_header">
                <h4>Destek Taleplerim</h4>
            </div>
            <div class="new-support">
                <button data-bs-toggle="modal" data-bs-target="#create_support" class="btn btn-secondary w-100 mt-2">Yeni Destek Oluştur</button>
            </div>
            <div class="support-list mt-2">
                {% for r in room %}
                    <div class="list">
                        <a href="{% url 'support_page_message' customer.user r.room_id %}">#{{ r.room_id }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-8 section-message">
            <div class="boxes">
                <div class="support_header bg-secondary">
                    <h4>Destek Taleplerim 1</h4>
                </div>
                <div class="box mt-2">

                </div>
                <div class="send-message mt-2">
                    <textarea name="" id=""></textarea>
                    <a class="btn btn-success"><i class="fa-solid fa-paper-plane"></i>&nbsp;Gönder</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="create_support" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Destek Talebi</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" id="createSupportForm">
                        {% csrf_token %}
                        <textarea name="body" id="support_body"></textarea>
                        <input class="btn btn-primary" type="submit" value="Destek Oluştur" name="create_support" id="create_support_btn">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}