{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{% static 'css/adminpage/signin.css' %}">
<link rel="stylesheet" href="{% static 'css/plugins/font-awesome.min.css' %}">
<script src="https://kit.fontawesome.com/aa7b4e2e81.js" crossorigin="anonymous"></script>
<title>Atmaca Code Yönetim Paneli Girişi</title>
{% block adminpage %}

    {% if user.is_superuser %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="{% url 'admin_register' %}" class="admin-sign-in" method="POST">
                        {% csrf_token %}
                        <h3>Yönetim Paneli Kayıt</h3>
                        <div class="form-container">

                            <div class="col-3">
                                <div class="form-group">
                                    <input type="email" placeholder="Emailiniz" name="email" class="email form-field">
                                    <span><i class="fa-solid fa-envelope"></i></span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <input type="text" name="firstname" placeholder="Adınız" class="email form-field">
                                    <span><i class="fa-solid fa-user"></i></span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <input type="text" name="lastname" placeholder="Soyadınız" class="email form-field">
                                    <span><i class="fa-solid fa-user"></i></span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <input type="number" name="phone" placeholder="Telefon Numaranız"
                                           class="email form-field">
                                    <span><i class="fa-solid fa-phone"></i></span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <textarea name="address" id="" cols="30" rows="10" placeholder="Adresiniz"
                                              class="form-field"></textarea>
                                    <span><i class="fa-solid fa-map"></i></span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <input type="password" placeholder="Şifreniz" name="password"
                                           class="password form-field">
                                    <span><i class="fa-solid fa-lock"></i></span>
                                </div>
                            </div>
                            <div class="col-3">
                                <button type="submit">Kayıt Ol</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <h5>Bu sayfa için yetkili değilsiniz.</h5>
    {% endif %}
{% endblock %}