{% load static %}
<!doctype html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Atmaca Code Yazılım Çözümleri">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Atmaca Code Hoşgeldiniz{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo/small_logo.png' %}">

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">

    <!-- Plugins CSS (All Plugins Files) -->
    <link rel="stylesheet" href="{% static 'css/plugins/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/odometer-theme-default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/magnific-pupup.css' %}">

    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/aa7b4e2e81.js" crossorigin="anonymous"></script>

</head>
<body>

{% include 'partials/_navbar.html' %}

<main>
    {% block mainpage %}
    {% endblock %}
    {% block adminpage %}
    {% endblock %}
</main>



{% include 'partials/_footer.html' %}

<!-- Scroll Top Start -->
<a href="#" class="scroll-top show" id="scroll-top">
    <i class="arrow-top fas fa-angle-double-up"></i>
    <i class="arrow-bottom fas fa-angle-double-up"></i>
</a>
<!-- Scroll Top End -->

<!-- JS -->
<!-- JS Vendor, Plugins & Activation Script Files -->

<!-- Vendors JS -->
<script src="{% static 'js/vendor/modernizr-3.11.7.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-migrate-3.3.2.min.js' %}./assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>

<!-- Plugins JS -->
<script src="{% static 'js/plugins/magnificpopup.min.js' %}"></script>
<script src="{% static 'js/plugins/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/plugins/tilt.jquery.min.js' %}"></script>
<script src="{% static 'js/plugins/odometer.min.js' %}"></script>
<script src="{% static 'js/plugins/isotope.min.js' %}"></script>
<script src="{% static 'js/plugins/imagesloaded.min.js' %}"></script>
<script src="{% static 'js/plugins/waypoint.min.js' %}"></script>
<script src="{% static 'js/plugins/wow.min.js' %}"></script>
<script src="{% static 'js/plugins/fancybox.min.js' %}"></script>
<script src="{% static 'js/plugins/jquery.ajaxchimp.min.js' %}"></script>

<!-- Activation JS -->
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/pages/home.js' %}"></script>

</body>
</html>