{% extends 'backend/layout.html' %}
{% load static %}

{% block title %}AtmacaCode Yönetim | Giriş Yap{% endblock %}

{% block login %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                <div class="login-brand">
                    <img src="{% static 'img/logo/logo2.png' %}" alt="logo" width="100">
                </div>

                <div class="card card-primary">
                    <div class="card-header"><h4>Yönetim Giriş Yap</h4></div>

                    <div class="card-body">
                        <form method="POST" action="#" class="needs-validation" novalidate="">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="email">E-Posta</label>
                                <input id="email" type="email" class="form-control" name="email" tabindex="1" required
                                       autofocus>
                                <div class="invalid-feedback">
                                    Lütfen e-posta adresinizi giriniz.
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="d-block">
                                    <label for="password" class="control-label">Şifre</label>
                                    <div class="float-right">
                                        <a href="{% url 'reset_password' %}" class="text-small">
                                            Şifremi Unuttum
                                        </a>
                                    </div>
                                </div>
                                <input id="password" type="password" class="form-control" name="password" tabindex="2"
                                       required>
                                <div class="invalid-feedback">
                                    Lütfen şifrenizi giriniz.
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="remember_me" class="custom-control-input" tabindex="3"
                                           id="remember-me">
                                    <label class="custom-control-label" for="remember-me">Beni hatırla</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" name="loginBtn" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                    Giriş Yap
                                </button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}