{% extends 'backend/layout.html' %}
{% load static %}

{% block login %}
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="login-brand">
              <img src="{% static 'img/logo/logo.png' %}" alt="logo" width="100" class="">
            </div>

            <div class="card card-primary">
              <div class="card-header"><h4>Şifre Değiştirildi</h4></div>

              <div class="card-body">
                <p class="text-muted">Şifreniz başarıyla değiştirildi. <a href="{% url 'admin_login' %}">Giriş Yap</a></p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
{% endblock %}