{% extends 'backend/layout.html' %}
{% load static %}

{% block title %}Yönetim Paneli | Anasayfa{% endblock %}

{% block mainpage %}
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>Anasayfa</h1>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="card card-statistic-1">
                        <div class="card-icon bg-primary">
                            <i class="fas fa-graduation-cap"></i>
                        </div>
                        <div class="card-wrap">
                            <div class="card-header">
                                <h4>Toplam Öğrenci Sayısı</h4>
                            </div>
                            <div class="card-body">
                                {{ student_count }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="card card-statistic-1">
                        <div class="card-icon bg-danger">
                            <i class="far fa-user"></i>
                        </div>
                        <div class="card-wrap">
                            <div class="card-header">
                                <h4>Toplam Müşteri Sayısı</h4>
                            </div>
                            <div class="card-body">
                                {{ customer_count }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="card card-statistic-1">
                        <div class="card-icon bg-success">
                            <i class="fas fa-circle"></i>
                        </div>
                        <div class="card-wrap">
                            <div class="card-header">
                                <h4>Online Kullanıcı Sayısı</h4>
                            </div>
                            <div class="card-body">
                                {{ number_of_active_users }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="card card-statistic-1">
                        <div class="card-icon bg-warning">
                            <i class="far fa-eye"></i>
                        </div>
                        <div class="card-wrap">
                            <div class="card-header">
                                <h4>Toplam Blog Görüntülenmesi</h4>
                            </div>
                            <div class="card-body">
                                {{ blog_views }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-7 col-md-12 col-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Son 10 Blog</h4>
                            <div class="card-header-action">
                                <a href="{% url 'blog_all' %}" class="btn btn-primary">Tümünü Gör</a>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-striped mb-0">
                                    <thead>
                                    <tr>
                                        <th>Başlık</th>
                                        <th>Yazar</th>
                                        <th>Görüntülenme Sayısı</th>
                                        <th>İşlem</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for b in last_ten_blog %}
                                        <tr>
                                            <td>
                                                {{ b.name }}
                                                <div class="table-links">
                                                    <a href="{% url 'blog_view_and_update' b.id %}">Görüntüle</a>
                                                </div>
                                            </td>
                                            <td>
                                               Ahmet Atmaca
                                            </td>
                                            <td>{{ b.view_count }}</td>
                                            <td>
                                                <a href="{% url 'blog_view_and_update' b.id %}" class="btn btn-primary btn-action mr-1" data-toggle="tooltip"
                                                   title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                <a href="{% url 'blog_delete' b.id %}" class="btn btn-danger btn-action" data-toggle="tooltip"
                                                   title="Delete"
                                                   data-confirm="Are You Sure?|This action can not be undone. Do you want to continue?"
                                                   data-confirm-yes="alert('Deleted')"><i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}