{% extends 'layout.html' %}
{% load static %}

{% block about_page %}

    <!--CSS Start-->
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <!--CSS End-->

    <!-- Breadcrumb Section Start -->
    <div class="section breadcrumb-section">
        <span class="shape shape-one layer" data-speed="1">
            <img src="{% static 'img/slider/shape-1.png' %}" alt="Shape">
        </span>
        <span class="shape shape-two layer" data-speed="2">
            <img src="{% static 'img/slider/shape-5.png' %}" alt="Shape">
        </span>
        <span class="shape shape-three wow pulse" data-wow-duration="1s" data-wow-delay=".1s">
            <img src="{% static 'img/slider/shape-7.png' %}" alt="Shape">
        </span>
        <span class="shape shape-four wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
            <img src="{% static 'img/slider/shape-9.png' %}" alt="Shape">
        </span>
        <span class="shape shape-five wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".1s">
            <img src="{% static 'img/slider/shape-10.png' %}" alt="Shape">
        </span>
        <div class="container">
            <div class="row">
                <div class="col-12 align-items-center text-center">
                    <!-- Breadcrumb Wrapper Start -->
                    <div class="breadcrumb-wrapper">
                        <h1 class="title">Hakkımda</h1>
                        <p class="text mb-0">Sizlerin büyümesi için çalışıyoruz... </p>
                    </div>
                    <!-- Breadcrumb Wrapper End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- About Section End -->
    <div class="about section-padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="about-content">
                        <div class="section-head wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".1s">
                            <span class="subtitle">Atmaca Code</span>
                            <h2 class="title">Başarınızı Arttırmak İçin Çalışıyoruz</h2>
                            <p class="text">Atmaca Code olarak sizlere en iyi şekilde websitenizi, e-ticaret sitenizi,
                                e-pazaryeri mağazalarınızı seo uyumlu olarak hem frontend hem backend kısımlarını
                                yapıyoruz.</p>
                            <p class="text-two">Hatta sizlerin istekleri doğrultusunda ilgili sitelerinizin
                                yayınlamasını ve bakımını yapıyoruz. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Section Start -->

    <!-- Progress Section Start -->
    <div class="progress-section section-padding">
        <div class="container">
            <div class="row align-items-center mb-n30">
                <div class="col-lg-6 mb-30 wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                    <!-- Section Title Start -->
                    <div class="section-title-center section-head text-start mb-0">
                        <span class="subtitle">Atmaca Code</span>
                        <h2 class="title">İşlerinizi büyütmek için çalışıyoruz.</h2>

                    </div>
                    <!-- Section Title End  -->
                </div>
                <div class="col-lg-6 mb-30 wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".1s">
                    <p class="text-two mw-100 mb-0" style="font-size: 18px;">İşletmeniz var ancak bir websiteniz yok mu?
                        Ürün satmak istiyorsunuz ve kendinize ait bir websitesin olmasını mı istiyorsunuz? Sizin için
                        buradayız.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section-padding">
        <div class="container">
            <div class="row align-items-center mb-n30">
                <div class="col-xl-12 col-lg-6 mb-30 wow fadeIn" data-wow-duration="1s"
                     data-wow-delay=".1s">
                    <!-- Section Title Start -->
                    <div class="section-title-center section-head text-start mb-0">
                        <span class="subtitle">Atmaca Code</span>
                        <h2 class="title">İşletmenizin kalitesini arttırmak için çalışıyoruz.</h2>

                    </div>
                    <!-- Section Title End  -->
                    <div class="accordion about-accordion" id="faqone">
                        <div class="accordion-item faq-accordion-item">
                            <h2 class="accordion-header faq-accordion-header" id="headingOne">
                                <button class="accordion-button faq-accordion-button" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">Misyonumuz
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show faq-accordion-collapse"
                                 aria-labelledby="headingOne" data-bs-parent="#faqone">
                                <div class="accordion-body">
                                    En uygun fiyatlarla en iyi hizmeti vererek müşteri beklentilerini en üst düzeyde
                                    karşılamak.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item faq-accordion-item">
                            <h2 class="accordion-header faq-accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed faq-accordion-button" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                    Vizyonumuz
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse faq-accordion-collapse"
                                 aria-labelledby="headingTwo" data-bs-parent="#faqone">
                                <div class="accordion-body">
                                    Yepyeni tasarımlar ile öncelikle Türkiye'de ilerleyen zamanlarda tüm dünyadan
                                    müşterilere ulaşarak, aynı zamanda sadece websitesi yapımları değil büyük bir
                                    yazılım şirketi haline gelerek birçok yazılım çözümleri yapmak.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item faq-accordion-item">
                            <h2 class="accordion-header faq-accordion-header" id="headingThree">
                                <button class="accordion-button collapsed faq-accordion-button" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    Hedefe Ulaşma Stratejimiz
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse faq-accordion-collapse"
                                 aria-labelledby="headingThree" data-bs-parent="#faqone">
                                <div class="accordion-body">
                                    Müşteri memnuniyetini ön plana alarak, müşteri portföyümüzü geliştirip, daha fazla istihdam kaynağı yaratmak.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Team Section Start -->
    <div class="team-section section-padding team-about-section">
        <div class="container">
            <div class="row">
                <div class="col-12 wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                    <!-- Section Title Start -->
                    <div class="section-title-center section-head text-center d-flex flex-column flex-center">
                        <h5 class="title">Site Sahibi</h5>
                        <img src="{% static 'img/owner.jpg' %}" class="site-owner mt-2" alt="owner">
                        <span class="subtitle mt-2">Ahmet Atmaca</span>
                        <p class="text mx-auto mb-0">Ben Ahmet Atmaca. Selçuk Üniversitesi Harita Mühendisliği
                            Bölümünden mezun olduktan sonra Erciyes Üniversitesi'nde yine aynı alanda yüksek lisans
                            yapmaya başladım. Çocukluk hayalim ve en büyük tutkum olan yazılımı üniversitede lisans
                            olarak okumadım fakat hiç bir zaman yazılımı bırakmadım. Profesyonel olarak yazılım ile
                            ilgili kendimi yetkin bir konuma getirdikten sonra büyük bir pazaryeri sitesi
                            geliştirdim. Şu anda bakmakta olduğunuz bu sitede de tarafım tarafından yapıldıktan sonra
                            sizlerin işlerini büyütmeye karar verdim.</p>
                    </div>
                    <!-- Section Title End  -->
                </div>
            </div>
        </div>
    </div>
    <!-- Team Section End -->


{% endblock %}