{% extends 'layout.html' %}
{% load static %}

{% block blog_details %}

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <div class="section-padding">
        <div class="container">
            <div class="row mb-n30">
                <div class="col-lg-8 mb-30 standard-blog">
                    <!-- Single Blog Start -->
                    <div class="single-blog">
                        <!-- Blog Thumbnail Start -->
                        <div class="single-thumb wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                            <img src="{{ blog_detail.get_blog_photos }}" alt="Blog-Image">
                        </div>
                        <!-- Blog Thumbnail End -->

                        <!-- Blog Meta Start -->
                        <ul class="single-blog-meta wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                            <li>
                                <span><i class="fas fa-folder-open"></i></span>
                                <a href="{% url 'category_details' blog_detail.category_slug %}">{{ blog_detail.get_category_display }}</a>
                            </li>
                            <li>
                                <span><i class="fas fa-user"></i></span>
                                <p>Admin</p>
                            </li>
                            <li>
                                <span><i class="fas fa-clock"></i></span>
                                <p>{{ blog_detail.created_at }}</p>
                            </li>
                            <li>
                                <span><i class="fas fa-comments"></i></span>
                                <p>{{ blog_detail.countReview }}</p>
                            </li>
                        </ul>
                        <!-- Blog Meta End -->

                        <!-- Blog Content Start -->
                        <div class="single-blog-content wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                            <h2 class="title"><a href="{% url 'blog_details' blog_detail.slug %}">{{ blog_detail.title }}</a>
                            </h2>
                            <p class="text">{{ blog_detail.content|safe }} </p>
                        </div>
                        <!-- Blog Content End -->

                        <!-- Blog Share and Tags Section Start -->
                        <div class="single-blog-share-tag wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                            <div class="tags">
                                <span class="label">Etiketler</span>
                                <ul>
                                    {% for bt in blog_tags %}
                                        <li><a href="{% url 'blog_tags' bt.keywords %}">{{ bt.keywords }},</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="share">
                                <span class="label">Share</span>
                                <ul class="sidebar-social d-flex flex-start">
                                    <li>
                                        <a href="https://www.facebook.com/sharer.php?u=http://www.atmacacode.com/blog/{{ blog_detail.slug }}" target="_blank" class="facebook"><i
                                                class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/sharer.php?u=http://www.atmacacode.com/blog/{{ blog_detail.slug }}" class="twitter"><i
                                                class="fab fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/sharer.php?u=http://www.atmacacode.com/blog/{{ blog_detail.slug }}" class="linkedin"><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Blog Share and Tags Section End -->

                        <!-- Post nav-link Section Start -->
                        <div class="post-nav-link wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                            <div class="post-prev">
                                {% for pb in previous_post %}
                                    <div class="thumb">
                                        <img src="{{ pb.get_blog_photos }}" alt="Blog-Post">
                                    </div>
                                    <div class="content">
                                        <a href="{% url 'blog_details' pb.slug %}" class="prev-arrow"><i
                                                class="fas fa-arrow-left"></i>Önceki
                                            Blog</a>
                                        <h4 class="title"><a
                                                href="{% url 'blog_details' pb.slug %}">{{ pb.title|truncatechars:20 }}</a>
                                        </h4>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="post-next">
                                {% for nb in next_post %}
                                    <div class="thumb">
                                        <img src="{{ nb.get_blog_photos }}" alt="Blog-Post">
                                    </div>
                                    <div class="content">
                                        <a href="{% url 'blog_details' nb.slug %}" class="next-arrow">Sonraki Blog<i
                                                class="fas fa-arrow-right"></i></a>
                                        <h4 class="title"><a
                                                href="{% url 'blog_details' nb.slug %}">{{ nb.title|truncatechars:20 }}</a>
                                        </h4>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- Post nav-link Section End -->

                        <!-- Comment Section Start -->
                        <div class="comment wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                            <h2 class="title">{{ review_count }} Yorum</h2>
                            <ul class="comment-list">
                                {% for r in review %}
                                    <li class="comment-inner">
                                        <div class="comment-1">
                                            <div class="comment-thumb">
                                                <span>{{ r.customer.first_name|slice:'1' }} {{ r.customer.last_name|slice:'1' }}</span>
                                            </div>
                                            <div class="comment-content">
                                                <div class="comment-head">
                                                    <div class="comment-title-date">
                                                        <h5 class="comment-title">{{ r.customer.first_name }} {{ r.customer.last_name }}</h5>
                                                        <div class="meta">
                                                            <div class="date">{{ r.created_at|date:"d/m/y" }}</div>
                                                            <div class="time">{{ r.created_at|time }}</div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <p class="text">{{ r.review }}</p>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- Comment Section End -->

                        <!-- Comment Form Start -->
                        <div class="comment-form wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                            {% if request.user.is_authenticated %}
                            <h2 class="title">Yorum Ekle</h2>
                            <form class="comment-form-inner"
                                  action="{% url 'submit_review' request.user.username blog_detail.id %}" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <label for="review" type="hidden"></label>
                                        <textarea name="review" id="review" placeholder="Yorumunuzu buraya yazınız..."></textarea>
                                    </div>
                                    <div class="col-12 text-left">
                                        <button class="btn btn-style-one"><span>Şimdi Gönder</span></button>
                                    </div>
                                </div>
                            </form>
                            {% else %}
                            <h4>Yorum yapabilmeniz için giriş yapmanız gerekmektedir. <a href="{% url 'customer_login' %}">Giriş Yap</a></h4>
                            {% endif %}
                        </div>
                        <!-- Comment Form End -->
                    </div>
                    <!-- Single Blog Start -->
                </div>
                <div class="col-lg-4 mb-30">
                    <div class="sidebar-wrap">
                        <!--Sidebar Search Start-->
                        {% include 'mainpage/partials/blog_search.html' %}
                        <!--Sidebar Search End-->

                        <!--Sidebar Post Start-->
                        {% include 'mainpage/partials/recent_blog.html' %}
                        <!--Sidebar Post End-->

                        <!--Sidebar Category Start-->
                        {% include 'mainpage/partials/blog_categories.html' %}
                        <!--Sidebar Category End-->


                        <!--Sidebar Instagram Start-->
                        <div class="sidebar wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".1s">
                            <h4 class="sidebar-title">Instagram</h4>
                            <ul class="sidebar-instagram">
                                {% for im in instagram_image %}
                                    <li>
                                        <a href="{{ im.url }}">
                                            <img src="{{ im.get_instagram_image }}" alt="Insta-Image">
                                            <div class="add-action">
                                                <i class="fab fa-instagram"></i>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!--Sidebar Instagram End-->

                        <!--Sidebar Social Start-->
                        <div class="sidebar wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".1s">
                            <h4 class="sidebar-title">Follow Us</h4>
                            {% include 'mainpage/partials/social_fallow.html' %}
                        </div>
                        <!--Sidebar Social End-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Section End -->
{% endblock %}