{% extends 'mainpage/customer_profile.html' %}
{% load static %}

{% block customer_edit %}
    <div class="profile_page__header">
        <h3>{{ customer.first_name }} {{ customer.last_name }} - Hesabı Düzenle</h3>
    </div>
    <div class="boxes">
        <div class="box">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-field">
                            <label for="">Ad</label>
                            <input type="text" name="first_name" value="{{ customer.first_name }}"
                                   required>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-field">
                            <label for="">Soyad</label>
                            <input type="text" name="last_name" value="{{ customer.last_name }}"
                                   required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-feedback">
                        <div class="feedback-alert">
                                            <span class="feedback_icon">
                                                <i class="fa-solid fa-circle-exclamation"></i>
                                            </span>
                            <span class="feedback_text">Hesabınızın genel adıdır. İncelemelerinizde, yorumlarınızda, puanlarınızda veya yanıtlarınızda görünür. Değiştirirseniz, yeni ad yalnızca yeni içerikte değil, eski içerikte de görünecektir.</span>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-6">
                        <div class="form-field">
                            <label for="">Email</label>
                            <input type="email" name="email" value="{{ customer.email }}" required>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-field">
                            <label for="">Telefon</label>
                            <input type="text" name="phone" value="{{ customer.phone }}" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-feedback">
                        <div class="feedback-alert">
                                            <span class="feedback_icon">
                                                <i class="fa-solid fa-envelope"></i>
                                            </span>
                            <span class="feedback_text">Email adresi hesabınızın eşsiz olması için istenmektedir. Kayıtlı bir email adresi ile yeniden kayıt olamazsınız. Ayrıca email ve telefon numarası sizlerle iletişim için istenmektedir.</span>
                        </div>
                    </div>
                </div>
                {% for error in update_form.errors %}
                    {% if error == 'email' %}
                        <div class="alert alert-danger" role="alert">
                            Lütfen geçerli bir mail adresi giriniz.
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="row mt-5">
                    <input type="submit" name="update_profile" class="saveBtn"
                           value="Değişiklikleri Kaydet">
                </div>
            </form>
        </div>
    </div>
    <div class="profile_page__header mt-3">
        <h3>Şifre Değiştir</h3>
    </div>
    <div class="boxes">
        <div class="box">
            <form action="" method="post" id="changePassword">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-field">
                            <label for="password">Şifre</label>
                            <input type="password" name="password" id="password">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-field">
                            <label for="re-password">Şifre Tekrar</label>
                            <input type="password" name="re-password" id="re-password">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-feedback">
                        <div class="feedback-alert">
                                            <span class="feedback_icon">
                                                <i class="fa-solid fa-circle-exclamation"></i>
                                            </span>
                            <span class="feedback_text">Şifre ve şifre tekrarının eşit olması gerekmektedir. Ayrıca şifreniz en az 8 karakterli ve (~,!,@,#,$,%,^,&,*,-,_,+,=,?,>,<) karakterlerinden en az birisini içermesi gerekmektedir.</span>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="alert alert-danger" role="alert" id="alert-notcompatible">
                        Şifreler uyuşmuyor !
                    </div>
                    <div class="alert alert-success" role="alert" id="alert-compatible">
                        Şifre ve şifre tekrarı aynı! Şifre değiştirebilirsiniz.
                    </div>
                </div>
                <div class="row mt-5">
                    <input name="change_password" type="submit" class="saveBtn" disabled
                           id="changePassword" value="Şifre Değiştir">
                </div>
            </form>
        </div>
    </div>
    <div class="profile_page__header mt-3">
        <h3>Hesabı Sil</h3>
    </div>
    <div class="boxes">
        <div class="box">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-field">
                            <label for="current-password">Mevcut Şifre</label>
                            <input type="password" name="current-password" id="current-password">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-feedback">
                        <div class="feedback-alert">
                                            <span class="feedback_icon">
                                                <i class="fa-solid fa-circle-exclamation"></i>
                                            </span>
                            <span class="feedback_text">Hesap silme işlemi için mevcut şifrenizi biliyor olmanız gerekmektedir. Mevcut şifrenizi yazarak hesabınızı silebilirsiniz.</span>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-12">
                        <div class="form-field">
                            <label for="reason">Hesabınızı Silme Nedeniniz?</label>
                            <textarea name="reason" id="reason"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-feedback">
                        <div class="feedback-alert">
                                            <span class="feedback_icon">
                                                <i class="fa-solid fa-circle-exclamation"></i>
                                            </span>
                            <span class="feedback_text">Atmaca Code hesabınızı neden silmeye karar verdiğinizi bize anlatın. Geri bildiriminiz, sitemizi müşterilerimiz için daha da iyi hale getirmemize gerçekten yardımcı oluyor.</span>
                        </div>
                    </div>
                </div>
                {% if delete_error %}
                    <div class="row mt-3">
                        <div class="alert alert-danger" role="alert">
                            {{ delete_error }}
                        </div>
                    </div>
                {% endif %}
                <div class="row mt-5">
                    <input type="submit" name="delete_account" class="saveBtn" value="Hesabımı Sil">
                </div>
            </form>
        </div>
    </div>
{% endblock %}