{% extends 'layout.html' %}
{% load static %}

{% block customer_profile %}

    <!--CSS Start-->
    <link rel="stylesheet" href="{% static 'css/profile_page.css' %}">
    <!--CSS End-->


    <div class="section-padding">
        <div class="container mt-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'mainpage' %}">Anasayfa</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Hesabım</li>
                </ol>
            </nav>
            <div class="row mt-5">
                <div class="col-lg-3">
                    <div class="profile_page__navigation sticky">
                        <div class="profile_page__navigation-body">
                            <div class="nav_menu">
                                <div class="nav_menu_list">
                                    <a href="" class="active">{{ customer.first_name }} {{ customer.last_name }}</a>
                                    <a href="{% url 'customer_order' customer.user %}">Siparişlerim</a>
                                    <a href="{% url 'customer_announcement' customer.user %}" class="nav_counter_link">
                                        <span class="text">Duyurularım</span>
                                        <span class="counter">0</span>
                                    </a>
                                    <a href="" class="nav_counter_link">
                                        <span class="text">Mesajlarım</span>
                                        <span class="counter">0</span>
                                    </a>
                                    <a href="{% url 'customer_logout' %}">Çıkış Yap</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    {% block customer_edit %}
                    {% endblock %}
                    {% block orders %}
                    {% endblock %}
                    {% block announcement %}
                    {% endblock %}
                </div>
                <div class="col-lg-2 flex">
                    <div class="row">
                        <div class="profile_page__image">
                            <span>{{ customer.first_name|slice:"1" }}{{ customer.last_name|slice:"1" }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="profile_page__name">
                            <p>{{ customer.first_name }} {{ customer.last_name }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--JS Start-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/change_password.js' %}"></script>
    <!--JS End-->
{% endblock %}