{% extends 'layout.html' %}
{% load static %}

{% block mainpage %}
<div class="slider-section">
    <div class="swiper sliderone animation-style-01">
        <div class="swiper-wrapper">

            <div class="swiper-slide ">
                <!-- Single Slider Start -->
                <div class="slingle-slider overlay slider-bg-image" data-bg-color="#E9EDF4"
                     data-bg-image="assets/images/slider/01_home_01.png">
                        <span class="shape shape-one">
                    <img src="{% static 'img/slider/shape/1.png' %}" alt="Shape">
                </span>
                    <span class="shape shape-two layer" data-speed="1">
                    <img src="{% static 'img/slider/shape/2.png' %}" alt="Shape">
                </span>
                    <span class="shape shape-three">
                    <img src="{% static 'img/slider/shape/3.png' %}" alt="Shape">
                </span>
                    <span class="shape shape-four">
                    <img src="{% static 'img/slider/shape-4.png' %}" alt="Shape">
                </span>
                    <span class="shape shape-five layer" data-speed="2">
                    <img src="{% static 'img/slider/shape/4.png' %}" alt="Shape">
                </span>
                    <span class="shape shape-six">
                    <img src="{% static 'img/slider/shape-6.png' %}" alt="Shape">
                </span>
                    <span class="shape shape-seven">
                    <img src="{% static 'img/slider/shape-7.png' %}" alt="Shape">
                </span>
                    <span class="shape shape-eight">
                    <img src="{% static 'img/slider/shape-8.png' %}" alt="Shape">
                </span>
                    <span class="shape shape-nine">
                    <img src="{% static 'img/slider/shape-9.png' %}" alt="Shape">
                </span>
                    <span class="shape shape-ten">
                    <img src="{% static 'img/slider/shape-10.png' %}" alt="Shape">
                </span>
                    <div class="slider-content-wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-6 col-lg-5 align-self-center">
                                    <!-- Slider Content Start -->
                                    <div class="slider-content">
                                        <span class="subtitle">Atmaca Code</span>
                                        <h2 class="title">Atmaca Code Açıldı</h2>
                                        <p class="text">Atmaca Code web yazılım hizmetleri ile sizlerin hizmetlerine
                                            açılmıştır.</p>
                                        <a href="service-details.html" class="btn btn-style-one">
                                            <span>Devamını Oku</span> </a>
                                    </div>
                                    <!-- Slider Content End -->
                                </div>
                                <div class="col-xl-6 col-lg-7">
                                    <!-- Slider Image Start -->
                                    <div class="slider-image">
                                        <div class="slider-image-one js-tilt">
                                            <img src="{% static 'img/slider/image/1.png' %}" alt="Slider Image">
                                        </div>
                                        <div class="slider-image-two js-tilt">
                                            <img src="{% static 'img/slider/image/2.png' %}" alt="Slider Image">
                                        </div>

                                    </div>
                                    <!-- Slider Image End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Slider End -->
            </div>


        </div>
        <div class="swiper-pagination sliderone-pagination"></div>
    </div>
</div>
{% endblock %}